/* 页面要求兼容IE8+、FF，Chrome
 * 避免使用属性：flex，transform
 */

a:hover{
	text-decoration:underline;
}
body{
	font-family: "微软雅黑" helvetica;
}
/* 清除浮动 */
.f-clear:after{
	content: "·";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}
/* ------------------------------------- */
/* 设置顶部浮动条的css属性 */
.g-top{
	background-color: #f3f3f3;
	width: 100%;
}
.g-top .m-content{
	background-color: #f3f3f3;
	font-size: 12px;
	line-height: 36px;
	width: 1206px;
	margin: 0 auto;
}
.g-top .m-content a{
	color: #39a030;
}
#j-tips{
	float: right;
	color: #333333;
	text-decoration: none;
}
/* ------------------------------------- */
/* 设置导航条nav的css属性 */
.g-nav{
	width: 1206px;
	margin: 30px auto 37px;
	
}
.g-nav img{
	vertical-align: text-bottom;
}
.g-nav .m-title{
	display: inline-block;
}
.g-nav .u-attention{
	display: inline-block;
	width: 54px;
	height: 22px;
	font: bold 12px/22px "微软雅黑";
	background-color: #21A557;
	color: #FFFFFF;
}
.g-nav .u-attention:hover{
	background-color: #2fb556;
	color: #FFFFFF;
	text-decoration: none;
}
.g-nav .m-edu{
	display: inline-block;
	float: right;
	font: 16px "微软雅黑";
}
.g-nav .m-edu a{
	margin-left: 50px;
}
.g-nav .m-edu a:hover{
	color: #39a030;
	text-decoration: none;
}
/* ------------------------------------- */
/* 设置middle的css属性 */
.g-middle{
	width: 100%;
}
/* 设置middle中banner的css属性 */
.g-middle .u-banner1{
	height: 460px;
	background: top center no-repeat url(../pic/banner/banner1.jpg);
}


/* 设置middle中展示三个产品的css属性 */
.g-middle .m-edu{
	width: 1206px;
	margin: 61px auto;
}
.g-middle .m-edu > div{
	display: inline-block;
	width: 33%;
}
.g-middle .m-edu > div div{
	margin-left: 105px;
	margin-right: 50px;
}
.g-middle .m-edu img{
	float: left;
}
.g-middle .m-edu h2{
	font: 22px "微软雅黑";
	margin-bottom: 20px;
}
.g-middle .m-edu p{
	font: 14px "微软雅黑";
	height: 100px;
	margin-bottom: 20px;
}
.g-middle .m-edu a{
	font: 14px "微软雅黑";
	color: rgb(57,160,48);
}
/* 设置middle中展示工作环境照片的css属性 */
.g-middle .m-workpic{
	height: 222px;
	background: #f8f8f8 bottom center no-repeat url(../pic/workingPic/workingPic.jpg);
}
/* ------------------------------------- */
/* 设置产品模块product的css属性 */
.g-product{
	width: 100%;
	height: 1550px;
	background-color: #f8f8f8;
}
/* 设置产品模块内容区的css属性 */
.g-product .m-content{
	width: 1206px;
	margin: 0 auto;
	padding-top: 81px;
}
/* 设置内容区左边区块的css属性 */
.g-product .m-left{
	width: 980px;
	float: left;
}
/* 设置title模块的css属性 */
.g-product .m-title{
	
}
.g-product .m-title h2{
	display: inline-block;
	width: 200px;
	height: 50px;
	margin-bottom: 30px;
	font: normal 20px/50px "微软雅黑";
	text-align: center;
	box-shadow: 0 2px 2px #CCCCCC;
}
#j-product{
	background-color: #39A030;
	color: #FFFFFF;
}
#j-programming{
	background-color: #FFFFFF;
	margin-left: -3px;
}
/* 设置包含所有课程产品的m-product模块 */
.g-product .m-product{
	/*height: 500px;*/
	/*background-color: #F8F8F8;*/
}

/* 设置右边模块的css属性 */
.g-product .m-right{
	float: right;
	width: 223px;
}
.g-product .m-right h2{
	height: 55px;
	padding-left: 20px;
	margin-bottom: 1px;
	font: normal 16px/55px "微软雅黑";
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px #ccc;
}
/* 设置右边模块中机构介绍的css属性 */
.g-product .m-right .m-introduction{
	;
}
.g-product .m-right .u-video{
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px #CCCCCC;
}
.g-product .m-right .u-video p{
	margin-bottom: 9px;
}

/* 设置右边模块中最热排行的css属性 */
.g-product .m-right .m-hotlist{
	margin-top: 20px;
}
.g-product .m-right .m-list{
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px #ccc;
}
.g-product .m-right .m-list .f-clear{
	margin-bottom:20px;
}
.g-product .m-right .m-list .u-img{
	width: 50px; 
	height: 50px;
	float: left;
}
.g-product .m-right .m-list .u-container{
	display: inline-block;
	width: 125px;
}
.g-product .m-right .m-list .u-title{
	display: inline-block;
	margin: 0 0 5px 10px;
	width: 123px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font: 14px '微软雅黑';
	text-decoration: none;
}
.g-product .m-right .m-list .u-person{
	margin-left: 10px;
}
.g-product .m-right .m-list .u-num{
	color: #BBBBBB;
}
#j-hotlist{
	margin-bottom: -20px;
}
/* ------------------------------------- */
/* 设置底部栏的css属性 */
.g-foot{
	width: 100%;
	height: 262px;
	background-color: #2c3339;
	color: #999999;
}
.g-foot .m-content{
	width: 1206px;
	margin: 0px auto;
	padding-top: 82px;
}
.g-foot .m-left{
	float: left;
}
.g-foot .m-right{
	float: right;
	margin-left: 100px;
}
.g-foot img{
	margin-top: 10px;
}
.g-foot p{
	font: 12px/30px "微软雅黑";
}
.g-foot a{
	font: 14px/30px "微软雅黑";
	color: #999999;
}


























